@tailwind base;
@tailwind components;
@tailwind utilities;

#items{
    @apply
    /* ----------[ x/0px ]---------- */
    x:flex
    x:justify-center
    x:my-4
    /* ----------[ xs/320px ]---------- */
    /* ----------[ sm/640px ]---------- */
    /* ----------[ md/768px ]---------- */
    md:my-6
    /* ----------[ lg/1024px ]---------- */
    lg:my-10
    /* ----------[ xl/1280px ]---------- */
    xl:my-14
    /* ----------[ 2xl/1536px ]---------- */
}
#item1{
    @apply
    /* ----------[ x/0px ]---------- */
    /* ----------[ xs/320px ]---------- */
    /* ----------[ sm/640px ]---------- */
    /* ----------[ md/768px ]---------- */
    /* ----------[ lg/1024px ]---------- */
    /* ----------[ xl/1280px ]---------- */
    xl:w-96
    /* ----------[ 2xl/1536px ]---------- */
    2xl:w-3/12
}
