@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin Profile{
    @apply
    /* ----------[ lg/1024px ]---------- */
    lg:row-span-1
    /* ----------[ xl/1280px ]---------- */
    xl:row-span-1
    xl:w-auto
    xl:h-48
    /* ----------[ 2xl/1536px ]---------- */
}
@mixin ContactMe{
    @apply
    /* ----------[ lg/1024px ]---------- */
    lg:row-span-1
    lg:w-auto
    lg:h-48
    /* ----------[ xl/1280px ]---------- */
    xl:row-span-1
    xl:w-auto
    xl:h-48
    /* ----------[ 2xl/1536px ]---------- */
    2xl:row-span-1
    2xl:w-auto
    2xl:h-48
}
@mixin AboutMe{
    @apply
    /* ----------[ lg/1024px ]---------- */
    lg:row-span-3
    /* ----------[ xl/1280px ]---------- */
    xl:row-span-2
    /* ----------[ 2xl/1536px ]---------- */
    2xl:row-span-2
}


#Inicio{
    @apply
    /* ----------[ x/0px ]---------- */
    x:grid
    x:grid-flow-row
    x:gap-4
    x:justify-center
    x:my-5
    /* ----------[ xs/320px ]---------- */
    xs:grid
    xs:grid-flow-row
    xs:gap-4
    xs:justify-center
    xs:my-5
    /* ----------[ sm/640px ]---------- */
    sm:grid
    sm:grid-flow-row
    sm:gap-4
    sm:justify-center
    sm:my-5
    /* ----------[ md/768px ]---------- */
    md:grid
    md:grid-flow-row
    md:gap-4
    md:justify-center
    md:my-5
    /* ----------[ lg/1024px ]---------- */
    lg:grid 
    lg:grid-rows-2
    lg:grid-flow-col
    lg:justify-center
    lg:my-5
    lg:gap-20
    /* ----------[ xl/1280px ]---------- */
    xl:grid 
    xl:grid-rows-2
    xl:grid-flow-col
    xl:justify-center
    xl:my-5
    xl:gap-20
    /* ----------[ 2xl/1536px ]---------- */
    2xl:grid 
    2xl:grid-rows-2
    2xl:grid-flow-col
    2xl:justify-center
    2xl:my-5
    2xl:gap-20
}

#Profile{
    @include Profile
}
#ContactMe{
    @include ContactMe
}
#AboutMe{
    @include AboutMe
}