@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin Navbar{
    @apply
    /* -------[ x/0px ]------- */
    x:h-16
    x:flex
    x:content-center
    x:items-center
    x:bg-zinc-900
    x:flex justify-between
    /* -------[ xs/320px ]------- */
    xs:h-16
    xs:flex
    xs:content-center
    xs:items-center
    xs:bg-zinc-900
    xs:flex justify-between
    /* -------[ sm/640px ]------- */
    sm:h-16
    sm:flex
    sm:content-center
    sm:items-center
    sm:bg-zinc-900
    sm:flex justify-between
    /* -------[ lg/1024px ]------- */
    lg:h-20
    lg:flex
    lg:content-center
    lg:items-center
    lg:bg-zinc-900
    lg:flex justify-between
    /* -------[ xl/1280px ]------- */
    xl:h-20
    xl:flex
    xl:content-center
    xl:items-center
    xl:bg-zinc-900
    xl:flex justify-between
    /* -------[ 2xl/1536px ]------- */
    2xl:h-20
    2xl:flex
    2xl:content-center
    2xl:items-center
    2xl:bg-zinc-900
    2xl:flex justify-between
    
}

@mixin logo {
    @apply
    /* -------[ x/0px ]------- */
    x:ml-1
    x:flex
    x:items-center
    animate-pulse
    x:text-emerald-500
    x:text-base
    /* -------[ xs/320px ]------- */
    xs:ml-1
    xs:flex
    xs:items-center
    animate-pulse
    xs:text-emerald-500
    xs:text-base
    /* -------[ sm/640px ]------- */
    sm:ml-3
    sm:flex
    sm:items-center
    animate-pulse
    sm:text-emerald-500
    sm:text-sm
    /* -------[ lg/1024px ]------- */
    lg:ml-6
    lg:flex
    lg:items-center
    animate-pulse
    lg:text-emerald-500
    lg:text-lg
    /* -------[ xl/1280px ]------- */
    xl:ml-8
    xl:flex
    xl:items-center
    animate-pulse
    xl:text-emerald-500
    xl:text-xl
    /* -------[ 2xl/1536px ]------- */
    2xl:ml-9
    2xl:flex
    2xl:items-center
    animate-pulse
    2xl:text-emerald-500
    2xl:text-2xl
}

@mixin P{
    @apply
    /* -------[ x/0px ]------- */
    x:duration-500
    x:p-2
    x:flex
    x:justify-between
    x:items-center
    x:text-xs
    x:text-zinc-300
    x:hover:text-zinc-600
    x:gap-0.5
    /* -------[ xs/320px ]------- */
    xs:duration-500
    xs:p-2
    xs:flex
    xs:justify-between
    xs:items-center
    xs:text-xs
    xs:text-zinc-300
    xs:hover:text-zinc-600
    xs:gap-0.5
    /* -------[ sm/640px ]------- */
    sm:duration-500
    sm:p-4
    sm:flex
    sm:justify-between
    sm:items-center
    sm:text-sm
    sm:text-zinc-300
    sm:hover:text-zinc-600
    xs:gap-1
    /* -------[ lg/1024px ]------- */
    lg:duration-500
    lg:p-4
    lg:flex
    lg:justify-between
    lg:items-center
    lg:text-lg
    lg:text-zinc-300
    lg:hover:text-zinc-600
    lg:gap-x-1
    /* -------[ xl/1280px ]------- */
    xl:duration-500
    xl:p-4
    xl:flex
    xl:justify-between
    xl:items-center
    xl:text-xl
    xl:text-zinc-300
    xl:hover:text-zinc-600
    xl:gap-x-1
    /* -------[ 2xl/1536px ]------- */
    2xl:duration-500
    2xl:p-5
    2xl:flex
    2xl:justify-between
    2xl:items-center
    2xl:text-xl
    2xl:text-zinc-300
    2xl:hover:text-zinc-600
    2xl:gap-x-1
}

@mixin Menu{
    @apply
/* -------[ x/0px ]------- */
    x:mr-2
    x:flex
    x:justify-between
/* -------[ xs/320px ]------- */
    xs:mr-2
    xs:flex
    xs:justify-between
    /* -------[ sm/640px ]------- */
    lg:mr-3
    sm:flex
    sm:justify-between
    /* -------[ lg/1024px ]------- */
    lg:mr-6
    lg:flex
    lg:justify-between
    /* -------[ xl/1280px ]------- */
    xl:mr-8
    xl:flex
    xl:justify-between
    /* -------[ 2xl/1536px ]------- */
    2xl:mr-9
    2xl:flex
    2xl:justify-between

}

#navbar{
    #logo{
        @include logo
    
    }
    #menu{
        a{
            @include P
        }
        @include Menu
    }
    @include Navbar
}